.form__label{
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 17px;  
  position: relative;
}

.form_description{
    font-size: 0.75rem;
    line-height: 16px;
    margin-bottom: 0.5rem;
}

.form__field{
    background-color: transparent;
    border: 1px solid #FFFFFF;

    width: 100%;
    padding: 0.5em 1em;
    border-radius: 0.25rem;
    font-size: 0.8rem;
    line-height: 20px;
    background: transparent;
    color: #fff;
    font-family: var(--font-montserrat);
}

.form__field:focus,
.form__field:focus-visible{
    outline: none;
}

.form__field:disabled{
  border: none;
  outline: none;
  /* background: #F0F0F0; */
}

.form__checkbox_and_link{
    display: grid;
    grid-template-columns: auto 1fr auto;
}

.form__checkbox_and_link-checkbox{
    grid-column: 1 / 2
}

.form__checkbox_and_link-checkbox{
    grid-column: 2 / 3
}

.form__checkbox_and_link-link{
    grid-column: 3 / 4;
    color: var(--color-primary)
}

  /* error handling */
  .form__error .form__field{
    outline: 1px solid var(--color-red) !important;
    border: 1px solid var(--color-red);

  }

  .form__error-paragraph{
    color: red;
    font-size: 0.65rem;
  }

  .icon_required{
    position: absolute;
    top: 0;
    right: -0.6rem;
    color: var(--color-red);
  }

.not_required{
  position: absolute;
  top: 0;
  left: 102%;
}

.form_description{
  font-size: 0.8rem;
}

@media screen and (min-width: 280px){
  .form__field {
      font-size: 1rem;
  }
}
