.app_google_btn_container{
    position: relative;
    overflow: hidden;
}

.app_google_btn_invisible{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

/* .app_google_container{
    cursor: pointer;
}

.app_google_container > div{
    grid-column: 1/ 13;
    grid-row: 1;
}

.app_google_container > div:first-child{
    opacity: 0;
    position: relative;
    z-index: 99;
}

.app_google{
    padding: 0px ;
    margin: 0px ;
    opacity: 1 ;
    cursor: pointer;
    font-family: var(--font-rubik);
    width: 100%;
    height: 3rem;
    padding: 0 1rem;

    display: flex;
    justify-content: center;
    align-items:center;

    letter-spacing: 0.04em;
    font-size: 0.93175rem;
    line-height: 1.2rem;
    background-color: var(--color-dark-blue);
    color: #fff;
    border-radius: 0.25rem;
    border: none;
}

.app_google svg{
    font-size: 1.2rem;
}

.app_google span{
    text-align: right;
}

.app_google svg,
.app_google span {
    margin: 0 0.2rem;
}

.app_google_container > div:first-child:hover ~ .app_google{
    background-color: var(--color-dark-blue);
    color: #fff;
}



 */
