.footer{
    margin-top: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom: none !important;
    background: var(--dark-purple);
}

.footer_container{
    width: min(100%, 25rem);
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

.footer_logo{
    font-size: 0.9375rem;
    font-weight: 700;
    font-family: var(--font-clashdisplay);
    line-height: 18.45px;
    margin-bottom: 1em;
}

.footer_logo span:last-child{
    color: var(--medium-purple);
}

.footer_container h4,
.footer_container p{
    font-size: 0.75rem;
    line-height: 27.5px;
}

.footer_container h3{
    font-size: 0.875rem;
    line-height: 27.5px;
}

.footer_container h3,
.footer_container h4{
    color: var(--medium-purple);
    font-weight: 600;
}

.footer_container > p{
    text-align: center;
}

.footer_container > div{
    display: flex;
    flex-direction: column;
}

.footer_col1 > div{
    display: flex;
    align-items: center;
}

.footer_col1 > div > div{
    width: 2px;
    height: 1rem;
    background: var(--medium-purple);
    margin: 0 0.5rem;
}

.footer_col2 > div{
    display: flex;
    align-items: center;
}

.footer_col2 > div > div > img{
    margin-left: 0.5rem;
    height: 1rem;
}

.footer_col3 > div{
    display: flex;
    align-items: center;
}

.footer_col3 > div > img{
    height: 0.815rem;
    margin-right: 0.5rem;
}


@media screen and (min-width: 750px){
    .footer{
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

    .footer_container{
        width: min(100%, 85rem);
        padding: 1rem 6rem;
    }

    .footer_logo{
        font-size: 1.5rem;
    }

    .footer_container > div{
        flex-direction: row;
        justify-content: space-between;;
        flex-wrap: wrap;
    }

    .footer_col1{
        width: 30%;
    }
}

@media screen and (min-width: 1200px){
    .footer{
        padding-top: 9rem;
        padding-bottom: 9rem;
    }

    .footer_logo{
        font-size: 2.25rem;
    }

    .footer_container h4,
    .footer_container p{
        font-size: 0.875rem;
    }
}